:root{
    --fundo: #FF69B4;
    --destaque: #ff1493;
    --preto: #000000;
    --branco: #FFFFFF;
    --fonte: #d8bfd8;
}

body{
    background-color: var(--fundo);
    font-size: 35px;
    margin: 20px;
    color: #000;
}

footer{
    position:fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--fonte);
    width: 100%;
    text-align: center;
}